# Root Environment Configuration Template

# SMTP / Email Notification Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=True
SMTP_USER=mintanacrm@gmail.com
SMTP_PASS=pyvojmumpwcslyyd
DEFAULT_FROM_EMAIL=mintanacrm@gmail.com
