# Root Environment Configuration Template

# SMTP / Email Notification Service
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USE_TLS=True
SMTP_USER=your_email@gmail.com
SMTP_PASS=zabb wtby osby edrw
DEFAULT_FROM_EMAIL=kingdelexx@gmail.com
