@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 220 230; /* dimmed slate tone */
    --foreground: 15 23 42; /* slate-900 */

    --card: 255 255 255; /* pure white */
    --card-foreground: 15 23 42;

    --popover: 255 255 255;
    --popover-foreground: 15 23 42;

    --primary: 14 165 233; /* sky-500 */
    --primary-foreground: 255 255 255;

    --secondary: 203 213 225; /* slate-300 */
    --secondary-foreground: 15 23 42;

    --muted: 203 213 225;
    --muted-foreground: 71 85 105; /* slate-600 */

    --accent: 203 213 225;
    --accent-foreground: 15 23 42;

    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;

    --border: 180 195 212; /* slate-300+ */
    --input: 180 195 212;
    --ring: 14 165 233;

    --radius: 0.6rem;
  }

  .dark {
    --background: 212 220 230;
    --foreground: 15 23 42;

    --card: 255 255 255;
    --card-foreground: 15 23 42;

    --popover: 255 255 255;
    --popover-foreground: 15 23 42;

    --primary: 14 165 233;
    --primary-foreground: 255 255 255;

    --secondary: 241 245 249;
    --secondary-foreground: 15 23 42;

    --muted: 241 245 249;
    --muted-foreground: 71 85 105;

    --accent: 241 245 249;
    --accent-foreground: 15 23 42;

    --destructive: 239 68 68;
    --destructive-foreground: 255 255 255;

    --border: 226 232 240;
    --input: 226 232 240;
    --ring: 14 165 233;
  }
}

@layer base {
  * {
    border-color: rgb(var(--border));
  }
  body {
    background-color: rgb(var(--background));
    color: rgb(var(--foreground));
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }
}
